* {
	font-family: Roboto;
}

button:hover {
    cursor: pointer; 
    cursor: hand;
}

header .logo a {
	color: #9300D5;
	background-color: white;
}

p.demo {
    text-align: center;
    margin-top: 34px;
    display: inline-block;
    position: relative;
    display: none;
}

a.demo-link {
 color: #9300D5;

}


p.or {
    text-align: center;
    margin-right: 28px;
    margin-top: 40px;
}


.uber-lyft {
    margin-left: 80px;
}

h4 {
    bottom: 22px;
    position: relative;
    color: #787878;
}

.search-driver {
    display: none;
}


input#tagNumberMiddle {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}



form.search-driver-middle {
    text-align: center;
}


.demo-middle {
    text-align: center;
    margin-right: 25px;
}


.log-or-sign li {
	display: inline-block;
	margin: 0 0 30px 30px;
}

.car-ride {
    width: 100%;
}

ul {
    transform: translateY(25%);
}

.sign-up-form {
	margin-top: 50px;
}

.log-in-form {
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: white;
}

form.search-driver {
    margin-top: 9%;
}

form.add-driver {
    margin-bottom: 25px;
}

section.main {
    margin-top: 10%;
}


p.slogan {
    color: #00b9e2;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}

.sub-slogan {
    text-align: center;
    font-size: 1.4em;
}


section.about {
    margin-top: 15%;
}


.about h2 {
	font-size: 2em;
}

.about p {
	font-size: 1.2em;
}

.about h2, p {
    font-weight: normal;
    color: #787878;
}

.about h3 {
	font-weight: normal;
    color: #787878;
}

input#tagNumber {
    padding: 5px;
    border-radius: 4px;
    /*width: 73%;*/
    border: 2px solid grey;
}

input .tag-number#tagNumber {
	width: 30%;
}


button.search-button {
    height: 28px;
    border: none;
    border-radius: 4px;
    background-color: #00b9e2;
    transition-duration: 0.4s;
    color: white;
}



button.search-button:hover {
    background-color: #9300D5;
    color: white;

}

button.add-driver {
    height: 28px;
    border: none;
    border-radius: 4px;
    background-color: #9300D5;
    transition-duration: 0.4s;
    color: white;
}



button.add-driver:hover {
    background-color: #00b9e2;;
    color: white;

}





.delete-button {
	margin-bottom: 25px;
	height: 20px;
    border: none;
    border-radius: 4px;
    background-color: #00b9e2;
    color: white;
    transition-duration: 0.4s;
    height: 35px;
    width: 60px;
}


.delete-button:hover {
	background-color: #9300D5;
	color: white;
}


.review-driver-button {
	border: none;
    height: 50px;
    border-radius: 4px;
    background-color: #00b9e2;
    color: white;
    transition-duration: 0.4s;
}

.review-driver-button:hover {
	background-color: #9300D5;
	color: white;

}


button#review-form {
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    background-color: #00b9e2;
    color: #787878;
    transition-duration: 0.4s;
}

button#review-form:hover {
    background-color: #9300D5;
    color: white;
}




/*Driver Render Styling Begin*/

.driver {
	color: #00b9e2;
    font-size: 2.2em;
}

.reviews {
	color: #00b9e2;
    font-size: 1.8em;
}

.driver-description {
	font-size: 1.8em;
	color: #00b9e2;
}

.border {
    border-bottom: 1px solid #00b9e2;
    width: 50%;
}


img {
    border-style: none;
    border-radius: 69%;
}

/*Driver Render Styling End*/



/*/No Driver Found Styling Begin*/

.no-driver-found p {
	text-align: center;
	color: #00b9e2;
	font-size: 2.5em;
}

.add-driver-container {
	text-align: center;
}
/*No Driver Found Styling End*/


/*Review driver begin*/

.review-driver-button {
	display: none;
}

.review-driver-container {
	display: none;
}

.submit-driver-review-button {
	display: none;
}


/*Review driver end*/





/*Add driver Form begin*/
input#driver-name {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}

select#company {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}


input#city {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}

select#driverRating {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}


select#description {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}

textarea#comment {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid grey;
}

button.submit-driver-button {
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 4px;
    background-color: #00b9e2;
    color: white;
    transition-duration: 0.4s;
}
}

button.submit-driver-button:hover {
    background-color: #9300D5;
    color: white;
}

/*Add driver Form end*/






/*@media only screen and (max-width: 640px) {
p.demo {
    margin-top: 34px;
    display: inline-block;
    position: relative;
    left: 0%;
    margin-top: 13%;
}


}*/