* {
	font-family: Roboto;
}


header .logo a {
	color: #9300D5;
	background-color: white;
}

.log-in ul {
	list-style: none;

}

.log-or-sign li {
	display: inline-block;
	margin: 0 0 30px 30px;
}



ul {
    transform: translateY(25%);
}

.sign-up-form {
	margin-top: 50px;
}

.log-in-form {
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: #888888;;
}

form.search-driver {
    margin-top: 9%;
}

section.main {
    margin-top: 10%;
}


p.slogan {
    color: #00b9e2;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}


section.about {
    margin-top: 29%;
}


.about h2 {
	font-size: 2em;
}

.about p {
	font-size: 1.2em;
}

.about h2, p {
    font-weight: normal;
    color: #787878;
}


/*Driver Render Styling*/

.driver {
	color: #00b9e2;
    font-size: 2.2em;
}

.reviews {
	color: #00b9e2;
    font-size: 1.8em;
}

.border {
    border-bottom: 1px solid #00b9e2;
    width: 50%;
}