header {
	background-color: #800080;
	color: white;
}

.log-in ul {
	list-style: none;
}

.log-or-sign li {
	display: inline-block;
	margin: 0 0 30px 30px;
}


/*.col-4.search-box {
    transform: translateY(100%);
}*/

ul {
    transform: translateY(25%);
}

.sign-up-form {
	margin-top: 50px;
}

.log-in-form {
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: black;
}